<% content_for :navbar do %>
    <%= render 'layouts/sidebar' %>
<% end %>



<div class="row" id="dashboard-header">
	<h1 class="dashboard-title bezier">My Challenges</h1>
	<%= link_to new_project_path, class: "btn btn-bezier" do %>
		<i class="fa fa-plus"></i> Challenge
	<% end %> 	
</div>




<div class="row row-projects">
<% if @projects.empty?  %>

<div class="center mb-20" id="projects-empty">
	<h2 class="mb-20">You don't have any challenge yet!</h2>
	<%= link_to new_project_path, class: "btn btn-bezier" do %>
			 Create my first challenge
	<% end %>	 
</div>

<div class="projects-example center">
	<h2 class="mb-20">Example of Challenges</h2>
	<%= link_to 'Challenge 1 - Run a social media audit', "https://www.workshopr.me/blog/challenge-run-a-social-media-audit", target: '_blank', class: 'bezier' %> <br>
	<%= link_to 'Challenge 2 - Create a social media calendar', "https://www.workshopr.me/blog/social-media-challenge-2:-create-a-one-week-social-media-calendar", target: '_blank', class: 'bezier' %> <br>
	<%= link_to 'Challenge 3 - Perform an ICE analysis', "https://www.workshopr.me/blog/social-media-challenge-3:-industry,-competitors,-experts-analysis
", target: '_blank', class: 'bezier mb-20' %>
</div>

<% else %>

<% current_user.project_selling.each do |project| %>
	<div class="col-md-4">
		<div class="panel-home-project">
			<div class="clear">
				<%= link_to project_path(project), method: :delete, data: {confirm: 'Are you sure you want to delete this project?'}  do %> <i class="fa fa-trash-o"></i><% end %> 
				<%= link_to edit_project_path(project) if !project.approved do %><i class="fa fa-pencil-square-o"></i><% end %> 
			 </div>
			 <h2><%= link_to "#{truncate(project.title, length: 40)}", project, class: 'bezier' %></h2>
			<% if project.approved %>
			 <span class="label label-default">Ends in <%= distance_of_time_in_words(project.approved_date, project.approved_date + 45.days)  %></span>
			 <% end %>
		  
			 <% if project.approved %>
				<h3>Approved on <%= project.approved_date.strftime("%b %d, %Y") %></h3>
			 <% else %>
			  	<h3>Review in Progress</h3>
		  	 <% end %>	  
		</div>	
	</div>
 <% end %>

<% end %>
</div>
 
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/57f3f4266339c4365abc0d6d/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

