
<!-- Display how many students accepted -->
<!-- Notification to say that invites have been sent -->

<% content_for :navbar do %>
	<%= render 'layouts/sidebar' %>
<% end %>

<div class="row" id="dashboard-header" data-no-turbolink>
	<h1 class="dashboard-title bezier">Dashboard</h1>
</div>




<div class="container-fluid" id="main-dashboard-institution">



<h2>Totals</h2>

<div class="col-md-4 main-dashboard-total-stats">
	<span class="main-dashboard-number"><%= @invited_users.created_by_invite.size %></span>	
	<span class="main-dashboard-text">Invitations <br> sent</span>
</div>
<div class="col-md-4 main-dashboard-total-stats">
	<span class="main-dashboard-number"><%= @invited_users.invitation_accepted.size %></span>
	<span class="main-dashboard-text">Invitations <br> accepted</span>
</div>
<div class="col-md-4 main-dashboard-total-stats">
	<span class="main-dashboard-number"><%= @invited_users.invitation_not_accepted.size %></span>
	<span class="main-dashboard-text">Invitations <br> not accepted</span>
</div>




<h2 class="main-dashboard-institution-table-title">Students</h2>

<%= simple_form_for(User.new, url: user_invitation_path) do |f| %>
	<%= text_area_tag :user_emails, nil, placeholder: 'Copy paste and separate email addresses with ","', class: "form-control"%>
	<%= f.button :submit, 'Send Invites', class: "btn-small btn-bezier" %>
<% end %>

<table class="main-dashboard-institution-table">
	<tr id="main-dashboard-institution-table-heading">
		<th>Email</th>
		<th>Status</th>
		<th>Enrolled Courses</th>
	</tr>
	<% @invited_users.each do |user| %>
	<tr class="main-dashboard-institution-table-row">
		<td><%= user.email %></td>
		<td>
			<% if user.invitation_accepted? %>
				Accepted
			<% else %>
				Pending	
			<% end %>
		</td>
	</tr>
	<% end %>
</table>

</div>


