     

<% content_for :navbar do %>
	<%= render 'layouts/sidebar_student' %>
<% end %>


	<h1 id="dasboard-student-title">Enrolled Courses</h1>
		<% @user.lectures.each do |lecture| %>

			<div class="col-md-6 margin-s mb-150">

	          <div class="lecture-box-profile" id="dashboard-student-box">
	          	<div class="borderLeft">
		          <%= link_to lecture, remote: true do %>	
		           <h1><%= lecture.title %></h1> 
		           <% end %>
		         </div>


	            <p class="lecture-box-profile-description"><%= truncate(lecture.description, length: 150) %> <span class="by-teacher">by <%= lecture.teacher.name %></span> </p>
	             

	           <progress max="<%= lecture.lessons.size %>" value="<%= lecture.lessons.select{ |l| l.users.include? current_user }.count  %>"></progress>


	            <h2><%= number_to_percentage( lecture.lessons.select{ |l| l.users.include? current_user }.count.to_f / lecture.lessons.size.to_f * 100, precision: 0) %> <span>Complete</span></h2>

	            <p class="completed-lessons"><%= lecture.lessons.select{ |l| l.users.include? current_user }.count %> out of  <%= lecture.lessons.size %> lessons completed</p>
	           
	           

	           
	          
	          </div> <!-- .lecture-box -->
	        </div> <!-- .col-md-4 -->
		<% end %>

