<% content_for :navbar do %>
	<%= render 'layouts/sidebar' %>
<% end %>

<div class="row" id="dashboard-header" data-no-turbolink>
	<h1 class="dashboard-title bezier">enrolled courses</h1>
	<% if current_user.lectures.empty? %>
		<%= link_to lectures_path, class: "btn btn-bezier btn-small" do %>
				Join a course!
		<% end %> 
	<% end %>	
</div>




<div class="row" id="enrolled-courses">



		<% current_user.lectures.each do |lecture| %>
		  <div class="col-md-4">
	         <div class="dashboard-student-box">
				<%= image_tag(lecture.picture.url) %>
				<%= link_to lecture do %>	
		        <h3 class="center"><%= lecture.title %></h3> 
		        <% end %> 
		        <p class="center by-teacher">by <%= lecture.try(:teacher) %></p>
	           
				<div class="section-box-bottom">
		           <progress max="<%= lecture.lessons.size %>" value="<%= lecture.lessons.select{ |l| l.users.include? current_user }.count  %>">
		           </progress>
		            <p class="completed-lessons">
		            <%= lecture.lessons.select{ |l| l.users.include? current_user }.count %> /  <%= lecture.lessons.size %> lessons completed
		            </p>
		         
		        </div>   

	        </div>
	      </div> <!-- .lecture-box -->
        <% end %>


</div>	




