
<% content_for :navbar do %>
    <%= render 'layouts/sidebar' %>
<% end %>


<div class="row" id="dashboard-header" data-no-turbolink>
<h1 class="dashboard-title">My Projects</h1>
</div>


<div class="row row-user-projects">
	<div class="container-fluid">

	<% current_user.project_buying.each do |project| %> 
		<%= link_to project do %>
		<div class="panel-project-lecture col-md-3 margin-s mb-60">
			<h3><%= project.title %></h3>
			  <div data-no-turbolink>
			  	<p>by <%= project.company_name %></p>
			  	<span class="label label-default project-paragraph">Ends in <%= distance_of_time_in_words(project.approved_date, project.approved_date + 45.days)  %></span>
			  </div>
		</div>	
	<% end %>
<% end %>




	</div>
</div>

