<div class="row" id="library">
  <div class="library">
    <h1>Library</h1>
    <h2>Browse through our lessons</h2>
  </div>
</div>

<div class="row" id="main-library">
  <div class="container-fluid">
    <div class="container-left">
      <div class="col-md-12">
       <% @lectures.each do |lecture| %>
      <div class="col-md-3">
        <div class="lecture-box-1">
          <%= image_tag lecture.picture.url(:medium) %>
          <h3> <%= link_to lecture.title, lecture %></h3>
          <p><%= lecture.admin.email %></p>
          <p><%= lecture.description %> </p>
      
          <% if admin_signed_in? %>
          <p><%= link_to 'Edit', edit_lecture_path(lecture) %>
          <%= link_to 'Destroy', lecture, method: :delete, data: { confirm: 'Are you sure?' } %></p>
          <% end %>

        </div> <!-- .lecture-box-1 -->
      </div> <!-- .col-md-12 -->
      </div> <!-- .col-md-3 -->
       <% end %>
    </div> <!-- .container-left -->
  
   <div class="container-right">
     <!-- Here goes the category -->
   </div>
  </div> <!-- .container -->
</div> <!-- #main-library -->




















