

<div class="row">
  <div id="main-homepage">
  </div>
</div>

<div class="row">
  <div id="what-homepage">
  </div>
</div>


<div class="row">
  <div class="container" id="our-method">
    <div class="col-md-12">
      <h1>How we do it</h1>
        <div class="col-md-4">
          <i class="fa fa-users"></i>
          <h2>Discover a Topic</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores iure, perferendis id vel quod. Aspernatur consectetur laborum, vero ratione dolore reiciendis error facere consequatur nesciunt, deserunt, harum soluta, voluptates a.</p>
        </div>
        <div class="col-md-4">
          <i class="fa fa-video-camera"></i>
          <h2>Access in-depth workshops</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores iure, perferendis id vel quod. Aspernatur consectetur laborum, vero ratione dolore reiciendis error facere consequatur nesciunt, deserunt, harum soluta, voluptates a.</p>
        </div>
        <div class="col-md-4">
          <i class="fa fa-child"></i>
          <h2>Get Hired!</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores iure, perferendis id vel quod. Aspernatur consectetur laborum, vero ratione dolore reiciendis error facere consequatur nesciunt, deserunt, harum soluta, voluptates a.</p>
          
        </div>
    </div>
  </div>
</div>




<h1 id="our-classes">Our Classes</h1>

<h1 class="page-header">Web Development</h1>

<div class="row">

    <% @lectures.where("category_id = 1 ").each do |lecture| %>
    <div class="col-md-3 col-xs-12">
    <div class="panneau">
      <div class="panneau-body">
      <%= image_tag lecture.picture.url(:medium) %>
       <h3>
          <%= link_to lecture.title, lecture %></h3>
      <p><%= lecture.admin.email %></p>
       <p><%= lecture.description %> </p>
      
      <% if admin_signed_in? %>
      <p>  <%= link_to 'Edit', edit_lecture_path(lecture) %>
         <%= link_to 'Destroy', lecture, method: :delete, data: { confirm: 'Are you sure?' } %></p>
       
          <% end %>
      </div>
    </div>
    </div>
       <% end %>
</div>
<br>

<h1 class="page-header">Photoshop</h1>


<div class="row">
    <% @lectures.where("category_id = 2 ").each do |lecture| %>
    <div class="col-md-3 col-xs-12">
    <div class="panneau">
      <div class="panneau-body">
      <%= image_tag lecture.picture.url(:medium) %>
      <div class="panneau-text"></div>
       <h3><%= link_to lecture.title, lecture %></h3>
     <p><%= lecture.admin.email %></p> 
     <p><%= lecture.category.name %></p>  
     <p><%= lecture.description %></p>
      <% if admin_signed_in? %>
         <%= link_to 'Edit', edit_lecture_path(lecture) %>
         <%= link_to 'Destroy', lecture, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
      </div>
    </div>
    </div>
       <% end %>

</div>


