<script type="text/javascript">
    mixpanel.track("Dashboard Index")
</script>

<% content_for :navbar do %>
  <%= render 'layouts/sidebar' %>
<% end %>


<div class="row" id="dashboard-header" data-no-turbolink>
  <h1 class="dashboard-title">courses library</h1>
</div>


          <h1 class="dashboard-course">All Courses</h1>

    
           <% @lectures.each do |lecture| %>

   

                  <div class="lecture-box lecture-index-box col-lg-12 col-md-12">

                    <div class="col-md-6 lecture-index-video">

                        <%= lecture.video.html_safe %>

                    </div>  

                    <div class="col-md-6 lecture-index-description">

                        <h2><%= lecture.title %></h2> 

                        

                         <p class="enrolled-users">
                         <%= lecture.enrollments.count %> <i class="fa fa-user"></i> <span>Enrolled</span>
                         </p>

                        <p class="lecture-description">
                          <%= truncate(lecture.description, length: 210) %> 
                        </p>

                        <%= link_to 'Enroll Now', enrollments_path(@enrollment, enrollment: {user_id: 'current_user.id', lecture_id: lecture.id}), :method => :post, data: {confirm: 'are you sure?', disable_with: "Enroll Now <i class='fa fa-spinner fa-spin'></i>"}, class: "btn btn-bezier index-lecture" %>

                        <a  class="<%= lecture.id %>" name="answer" value="Show Div" onclick="showDiv()">More details <i class="fa fa-chevron-down"></i></a>

                      <script>
                      $(document).ready(function(){
                          $(".<%= lecture.id %>").click(function(){
                              $("#<%= lecture.id %>").toggle(220);
                          });
                      });
                      </script>

                    </div>
                     
                     <div id="<%= lecture.id %>" class="lecture-index-details"  style="display:none;" class="answer_list" > 
                        <!-- Here goes details -->
                        WELCOME
                     </div>  

                  </div> <!-- .lecture-box -->


          <% end %>


  
          
         
           



  



















