<script type="text/javascript">
    mixpanel.track("Dashboard Index")
</script>

<% content_for :navbar do %>
  <%= render 'layouts/sidebar' %>
<% end %>


<div class="row" id="dashboard-header" data-no-turbolink>
  <h1 class="dashboard-title">courses library</h1>
</div>



<div class="container-index-lecture">    
  <% @lectures.each do |lecture| %>
    <div class="lecture-index-box col-lg-12 col-md-12">

      <div class="col-md-6 lecture-index-video">
        <%= lecture.video.html_safe %>
      </div>  

      <div class="col-md-6 lecture-index-description">

        <h2><%= lecture.title %></h2> 

        <p class="enrolled-users">
        <%= lecture.users.count %> <i class="fa fa-user"></i> <span>Enrolled</span>
        </p>

        <p class="lecture-author">
        by <%= lecture.teacher.name %>  
        </p>

        <p class="lecture-description">
        <%= truncate(lecture.description, length: 210) %>  <%= link_to 'Learn More', lecture_description_path(lecture) %>
        </p>

        <%= link_to 'Enroll Now', enrollments_path(@enrollment, enrollment: {user_id: 'current_user.id', lecture_id: lecture.id}), :method => :post, data: {confirm: 'are you sure?'}, class: "btn btn-bezier btn-small" %>

       
      </div>

    </div> 
  <% end %>
</div>
  
          
         
           



  



















