<script type="text/javascript">
    mixpanel.track("Dashboard Index")
</script>

<% content_for :navbar do %>
  <%= render 'layouts/sidebar' %>
<% end %>


<div class="row" id="dashboard-header" data-no-turbolink>
  <h1 class="dashboard-title">courses library</h1>
</div>



<div class="container-index-lecture">    
  <% @lectures.each do |lecture| %>
    <div class="lecture-index-box col-lg-12 col-md-12">

      <div class="col-md-6 lecture-index-video">
        <%= lecture.video.html_safe %>
      </div>  

      <div class="col-md-6 lecture-index-description">

        <h2><%= lecture.title %></h2> 

        <p class="enrolled-users">
        <%= lecture.users.count %> <i class="fa fa-user"></i> <span>Enrolled</span>
        </p>

        <p class="lecture-author">
        by <%= lecture.teacher.name %>  
        </p>

        <p class="lecture-description">
        <%= truncate(lecture.description, length: 210) %> 
        </p>

        <%= link_to 'View Course', lecture_description_path(lecture), class: "btn btn-bezier btn-small" %>

       
      </div>

    </div> 
  <% end %>
</div>
  
          
         
           



  



















