<script type="text/javascript">
    mixpanel.track("Course Index")
</script>

<% content_for :navbar do %>
  <%= render 'layouts/navbar_blog' %>
<% end %>

<div class="row row-header mb-40">
     <h1 class="contact center uppercase white margin-s">Courses</h1>
</div>

<div class="row mb-40">

  <% @lectures.each do |lecture| %>
    <div class="lecture-index-box col-lg-10 col-md-10 col-xs-12 col-md-offset-1 mb-20">

      <div class="col-md-6 lecture-index-video">
        <%= lecture.video.html_safe %>
      </div>  

      <div class="col-md-6 lecture-index-description">

        <h2><%= lecture.title %></h2> 

        <p class="enrolled-users">
        <%= lecture.users.count %> <i class="fa fa-user"></i> <span>Enrolled</span>
        </p>

        <p class="lecture-author">
        by <%= lecture.teacher.name %>  
        </p>

        <p class="lecture-description mb-20">
        <%= truncate(lecture.description, length: 210) %> 
        </p>
        <% if lecture.waiting_list.empty? %>
        <%= link_to 'View Course', lecture_description_path(lecture), class: "btn btn-bezier btn-small" %>
        <% else %>
        <%= link_to 'Join the waiting list', lecture.waiting_list, class: "btn btn-bezier btn-small" %>
        <% end %>
       
      </div>

    </div> 
  <% end %>

</div>
  
          
         
           



  



















