<div class="content-homepage">

<div class="row">
<div id="main-homepage">
  <h1>Workshopr.</h1>
</div>
</div>

<h1 id="our-classes">Our Classes</h1>

<h1 class="page-header">Web Development</h1>

<div class="row">

    <% @lectures.where("category_id = 1 ").each do |lecture| %>
    <div class="col-md-3 col-xs-12">
    <div class="panneau">
      <div class="panneau-heading">
        <h3 class="panel-title">
          <%= link_to lecture.title, lecture %></h3>
      </div>
      <div class="panneau-body">
      <%= image_tag lecture.picture.url(:medium) %>
      <p><%= lecture.admin.email %></p>
       <p><%= lecture.description %> </p>
      
      <% if current_admin == lecture.admin %>
      <p>  <%= link_to 'Edit', edit_lecture_path(lecture) %>
         <%= link_to 'Destroy', lecture, method: :delete, data: { confirm: 'Are you sure?' } %></p>
       
          <% end %>
      </div>
    </div>
    </div>
       <% end %>
</div>
<br>

<h1 class="page-header">Photoshop</h1>


<div class="row">
    <% @lectures.where("category_id = 2 ").each do |lecture| %>
    <div class="col-md-3 col-xs-12">
    <div class="panneau">
      <div class="panneau-heading">
        <h3 class="panel-title">
          <%= link_to lecture.title, lecture %></h3>
      </div>
      <div class="panneau-body">
      <%= image_tag lecture.picture.url(:medium) %>
      <%= lecture.admin.email %> <br>
      <%= lecture.category.name %> <br> 
      <%= lecture.description %> <br>
      <% if current_admin == lecture.admin %>
         <%= link_to 'Edit', edit_lecture_path(lecture) %>
         <%= link_to 'Destroy', lecture, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
      </div>
    </div>
    </div>
       <% end %>

</div>


</div>

<!-- <div class="row" id="footer">
  <div class="footer">
    Copyright Adrien Nhem
  </div> -->
</div>

