 <% content_for :navbar do %>
      <%= render 'layouts/navbar_blog' %>
 <% end %>

<div class="row" id="top-band">
	<div class="container-fluid center">
	<h1><%= @lecture.title %></h1>
	
	</div>
</div>

<div class="row" id="teacher-band">
	<div class="container-fluid">
		<div class="col-md-12 center">
			<div class="col-md-4"><%= image_tag @lecture.teacher.picture.url(:medium) %></div>
			<div class="col-md-5">In just one month, I'll teach you how to keep your projects on time, on spec, and under budget <br> Alex Bisker, You Project Management Instructor</div>
		</div>
	</div>
</div>

<div class="row" id="course-description-detail">
	<div class="container">
		<div class="col-md-12 lecture-description-video">
			<%= @lecture.video.html_safe %>
		</div>
		<div class="col-md-12 course-description-body">
			<h2>About this course</h2>
			<%= @lecture.description %>
		</div>
	</div>
</div>


<div class="row" id="enroll-band" data-no-turbolink>
	<div class="container-fluid">
		<div class="col-md-12">
			<div class="col-md-9"><h2>ENROLL TODAY FOR $99!       
			<%= link_to "Enroll Now", new_enrollment_path(controller: 'enrollment', action: 'new', lecture_id: @lecture.id, amount: @lecture.amount), class: "btn btn-large btn-bezier" %></h2> 
	
			</div>

		
		
		</div>
	</div>
</div>


