 <% content_for :navbar do %>
      <%= render 'layouts/navbar_blog' %>
 <% end %>

<h1 class="center uppercase bezier"><%= @lecture.title %></h1>

<div class="row">
<div class="landing-header-video margin-s col-md-12 clear">
	<div class="col-md-7  center">
		<%= @lecture.video.html_safe %>
	</div>
	<div class="col-md-5">
		<h2>Adrien Nhem</h2>
		<p><%= @lecture.teacher.biography %></p>
	</div>
</div>
</div>

<div class="row landing-navbar-container">
	<div class="container-fluid" data-turbolinks="false">
		<ul class="landing-navbar nav">
			<li><a href="#learn" class="bezier">1. Learn</a></li>
			<li><a href="#practice" class="bezier">2. Practice</a></li>
			<li><a href="#hired" class="bezier">3. Get Hired</a></li>
		</ul>
		<%= link_to 'Enroll Now for $99', new_enrollment_path(controller: 'enrollment', action: 'new', lecture_id: @lecture.id), class: "btn btn-medium btn-bezier pull-right" %>
	</div>
</div>

<!-- START LANDING BODY -->
<div class="landing-body">


	<div id="learn" class="padding-top-xxl">
		<h2 class="mb-60 bezier">1. Learn</h2>
			<div class="landing-body-content">
				<div class="learn-body clear">

				<%= @lecture.learn_description.html_safe %>
				
				</div>
				<h2 class="bezier margin-s">Curriculum</h2>

				
			 <% @chapters.each do |chapter| %>
	   <div class="chapter-section">
			<h2 class="title-chapter">
				<%= chapter.title %><span class="chapter-duration"><%= chapter.total_duration %> minutes</span>
			</h2> 
			</div>
			<div class="row">
				<ul class="list-lesson">
					<% chapter.lessons.sort { | a, b | a.etape <=> b.etape }.each do |lesson| %>
						<div class="section-lesson col-md-12">
							<%= link_to lecture_lesson_path(@lecture, lesson) do %>
								<div class="section-left-lesson col-md-8">
									<h3><%= lesson.title %> <span><%= lesson.video_duration %></span></h3>
									<p class="hello"><%= lesson.short_description %></p>
								</div>
								<div class="section-right-lesson col-md-2">
									<% if lesson.preview_link.present? %>
											<%= link_to 'Preview', "#{lesson.preview_link}", class: 'bezier' %> 
									<% end %>
									<% end %>
								</div>			
						</div>
					<% end %>
				</ul>
			</div>


		<% end %> <!-- END OF CHAPTER LOOP -->

				<!-- END OF CHAPTER LOOP -->
				</div>

	</div>

	<div id="practice" class="padding-top-xxl">
		<h2 class="mb-60 bezier">2. Practice</h2>
			<div class="landing-body-content">
				<%= @lecture.practice_description.html_safe %>
				<h2>Latest Challenge for this class</h2>
			</div>
	</div>

	<div id="hired" class="padding-top-xxl mb-60">
		<h2 class="mb-60 bezier">3. Hired</h2>
			<div class="landing-body-content">
				<%= @lecture.hired_description.html_safe %>
			</div>			
	</div>
</div>
<!-- END LANDING BODY -->



<div class="row" id="enroll-band" data-no-turbolink>
	<div class="container-fluid">
		<div class="col-md-12">
			<div class="col-md-9"><h2>ENROLL TODAY FOR $99!       
			<%= link_to "Enroll Now", new_enrollment_path(controller: 'enrollment', action: 'new', lecture_id: @lecture.id), class: "btn btn-large btn-bezier" %></h2> 
			</div>
		</div>
	</div>
</div>




