<%= render 'lecture_band' %>




<div class="row" id="lesson-container">
	<div class="col-md-12 margin-s">
	
	<div class="col-md-8">
		<div id="lesson-description-container">
			<h1><%= @lecture.title %></h1>
			<p class="margin-s"><%= @lecture.description %></p>
		</div>

		<h1 class="margin-s">List of lessons</h1>

		<div class="panel panel-default margin-s">

		 <% @lessons.each do |lesson| %>

				<div class="lesson-panel-body">
					<span><%= lesson.etape %>.</span>
					<span><%= lesson.title %></span>
				 	<%= link_to [lesson.lecture, lesson], class: "float-right l-size" do %>
					<span class="glyphicon glyphicon-play-circle"></span>
					<% end %>
				</div>

		<% end %>

		</div> <!-- .panel-default -->

	</div> <!-- .col-md-8 -->

	<div class="col-md-4">
		<div class="panel panel-default pull-right">
			<div class="panel-heading bg-white">
				Instructor
			</div>
			<div class="panel-body">
				 <%= image_tag @lecture.teacher.picture.url(:medium) %>
				<p><%= @lecture.teacher.name %></p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad iusto nulla saepe aspernatur blanditiis totam distinctio. Nostrum vero est vel perferendis excepturi assumenda consequuntur animi ducimus saepe sapiente, velit eaque!</p>
			</div>
		</div> 
	</div>

	</div> <!-- .col-md-12 -->
</div> <!-- #lesson-container -->









