<% content_for :navbar do %>
  <%= render 'layouts/sidebar' %>
<% end %>

<div class="row" id="dashboard-header" data-no-turbolink>

	<h1 class="dashboard-title"><%= @lecture.title %></h1>

	<% if @lecture.percent_completed_by(current_user) != 100 %>

	<p><%= @lecture.percent_completed_by(current_user) %> completed </p>
	<% end %>
	
	<% if @lecture.percent_completed_by(current_user) != 100 %>
	
	<div><a href="https://www.linkedin.com/profile/add?_ed=0_f2VAhHdqDGIA-puPkRkYUmBLRCv-L0sdMCuq6U7ZwQWOM8FDA1Vj-EuTt18hX-wbJiNSRLB8ZhH_KsovcMlm-d0Vcu6wbkDnSWUQ0tL_yrU&degree=Social%20Media%20certificate%20&trk=onsite_html" rel="nofollow" target="_blank"><img src="https://download.linkedin.com/desktop/add2profile/buttons/en_US.png" alt="LinkedIn Add to Profile button"></a></div>
	<% end %>

</div>




<div class="row" id="show-lecture">

<%= link_to 'Download Certificate', certificate_path(format: :pdf) %>

	<div class="lecture mb-60 width960">


	   <% @lecture.chapters.each do |chapter| %>
	   <div class="chapter-section">
			<h2 class="title-chapter">
				<%= chapter.title %><span class="chapter-duration"><%= chapter.total_duration %> minutes</span>
			</h2> 
			</div>
			<div class="row">
				<ul class="list-lesson">
					<% chapter.lessons.each do |lesson| %>
						<div class="section-lesson col-md-12">
							<%= link_to [@lecture, lesson] do %>
								<div class="section-left-lesson col-md-10">
									<h3><%= lesson.title %> <span><%= lesson.video_duration %></span></h3>
									<p class="hello"><%= truncate(lesson.short_description, length: 70 ) %></p>
								</div>
								<div class="section-right-lesson col-md-2">
									<% lesson.user_lessons.where(user_id: current_user.id).each do |f|  %>
										<% if f.completed %>
											<i class="fa fa-check"></i> 
										<% end %>
									<% end %>
									<% end %>
								</div>			
						</div>
					<% end %>
				</ul>
			</div>


		<% end %> <!-- END OF CHAPTER LOOP -->
</div> 
<!-- end row#show-lecture -->

			
<% if @lecture.percent_completed_by(current_user) == 100 %>
<div class="unlocked margin-s">
<h2>Unlocked projects!</h2>

		<% @projects.each do |project| %> 
			<%= link_to project do %>
			<div class="panel-project-lecture col-md-3 margin-s mb-60">
				<h3><%= project.title %></h3>
				  <div data-no-turbolink>
				  	<p>by <%= project.company_name %></p>
				  	<p class="project-paragraph">Created on <%= project.created_at.strftime("%b %d, %Y") %></p>
				  </div>
			</div>	
		<% end %>
		<% end %>
		</div>
<% end %>
			
<% if @lecture.percent_completed_by(current_user) != 100 %>
	<h2 class="locked center margin-s"><i class="fa fa-lock"></i> Complete this course to unlock projects</h2>
<% end %>

	</div>




