

<div class="row bg-blackhaze">
	<div class="container mb-60 width960">
			<h1><%= @lecture.title %></h1>
			<p><%= @lecture.video.html_safe %></p>



<% @lecture.chapters.each do |chapter| %>
	<table>
		<tr>
			<th><h2><%= chapter.title %></h2> <span class="chapter-duration"><%= chapter.total_duration %></span></th>
		</tr>
		<% chapter.lessons.each do |lesson| %>
			<tr class="lesson-row">
				<td>					
					<span class="lesson-title"><%= lesson.title %></span>
					<span class="lesson-description"><%= lesson.video_duration %></span>
					<%= lesson.short_description %>
					<span class="lesson-link"><%= link_to "Start lesson",  [@lecture, lesson] %></span>
					<% lesson.user_lessons.where(user_id: @user.id).each do |f|  %>
					<span><% if f.completed %>ok <% end %></span>
					<% end %>
				</td>
			</tr>
			
		<% end %> 
	</table>
<% end %>


	</div>
</div>









