<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @lecture.title %>
</p>

<%= image_tag @lecture.picture.url(:medium) %>


<p>
  <strong>Description:</strong>
  <%= @lecture.description %>
</p>



<%= link_to 'Edit', edit_lecture_path(@lecture) %> |
<%= link_to 'Back', lectures_path %>
