<% content_for :navbar do %>
  <%= render 'layouts/sidebar' %>
<% end %>

<div class="row" id="dashboard-header" data-no-turbolink>

	<h1 class="dashboard-title bezier"><%= @lecture.title %> </h1>

	
</div>




<div class="row" id="show-lecture">



	<div class="lecture mb-60 width960">


	   <% @chapters.each do |chapter| %>
	   <div class="chapter-section">
			<h2 class="title-chapter">
				<%= chapter.title %><span class="chapter-duration"><%= chapter.total_duration %> minutes</span>
			</h2> 
			</div>
			<div class="row">
				<ul class="list-lesson">
					<% chapter.lessons.sort { | a, b | a.etape <=> b.etape }.each do |lesson| %>
						<div class="section-lesson col-md-12">
							<%= link_to [@lecture, lesson] do %>
								<div class="section-left-lesson col-md-10">
									<h3><%= lesson.title %> <span><%= lesson.video_duration %></span></h3>
									<p class="hello"><%= lesson.short_description %></p>
								</div>
								<div class="section-right-lesson col-md-2">
									<% lesson.user_lessons.where(user_id: current_user.id).each do |f|  %>
										<% if f.completed %>
											<i class="fa fa-check"></i> 
										<% end %>
									<% end %>
									<% end %>
								</div>			
						</div>
					<% end %>
				</ul>
			</div>


		<% end %> <!-- END OF CHAPTER LOOP -->

<!-- end row#show-lecture -->

	<% if @lecture.lecture_completed?(current_user) %>

	
		<div class="chapter-section">
			<h2 class="title-chapter">
				Get Your Certificate !
			</h2> 
			</div>
			<div class="row">
			  <ul class="list-lesson">
				<div class="section-lesson download-certificate center col-md-12">
					<%= link_to 'Download Certificate', certificate_path(format: :pdf), target: "_blank" %>
				</div>
				</ul>
			
</div> 



<div class="unlocked">
<h2>Unlocked challenges!</h2>
	<% @projects.each do |project| %> 
		<%= link_to project do %>
		<div class="panel-project-lecture col-md-3 margin-s mb-60">
			<h3><%= project.title %></h3>
			  <div data-no-turbolink>
			  	<p>by <%= project.company_name %></p>
			  	<p class="project-paragraph">Created on <%= project.created_at.strftime("%b %d, %Y") %></p>
			  </div>
		</div>	
	<% end %>
	<% end %>
	</div>
<% else %>
<div class="row">
	<div class="locked">
		<h2 class="margin-s"><i class="fa fa-lock"></i> Complete this course to unlock challenges</h2>
	</div>
</div>
	
<% end %>
		

		

	</div>



