<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @lecture.title %>
</p>

<%= image_tag @lecture.picture.url(:medium) %>


<p>
  <strong>Description:</strong>
  <%= @lecture.description %>
</p>

<div class="lessons">
	<h2><%= @lecture.lessons.count %> Lessons</h2>
	<%= render @lecture.lessons %>


<% if current_admin == @lecture.admin %>
	<h3>Add a lesson</h3>
	<%= render "lessons/form" %>
</div>
<%= link_to 'Edit', edit_lecture_path(@lecture) %> |
<% end %>
<%= link_to 'Back', lectures_path %>
