<script>
  (function() {var s=document.createElement('script');
    s.type='text/javascript';s.async=true;
    s.src=('https:'==document.location.protocol?'https':'http') +
    '://workshoprs.groovehq.com/widgets/18dffb65-bf2b-4767-907a-79ab573d2848/ticket.js'; var q = document.getElementsByTagName('script')[0];q.parentNode.insertBefore(s, q);})();
</script>

<div class="row bg-blackhaze">
	<div class="container mb-60 width960">
			<h1><%= @lecture.title %></h1>
			<p><%= @lecture.video.html_safe %></p>



<% @lecture.chapters.each do |chapter| %>

<h2><i class="fa fa-graduation-cap"></i> <%= chapter.title %></h2> <span class="chapter-duration"><%= chapter.total_duration %></span>

	<table>
		
			
		
		<% chapter.lessons.each do |lesson| %>
			
			<tr class="lesson-row">
				
					<% lesson.user_lessons.where(user_id: @user.id).each do |f|  %>
						
							<% if f.completed %>
							<td class="completed">
								<i class="fa fa-check"></i>
							</td>
							<% else %>
							<td class="not-completed">
								<i class="fa fa-check"></i>
							</td>
							<% end %>
							
					<% end %>
				
				<td>
					<%= link_to [@lecture, lesson] do %>
						<%= lesson.title %>
					<% end %>
					<span class="lesson-title"></span>
					
					<%= lesson.short_description %>
				</td>
				<td class="video-duration">
					<span class="lesson-description"><%= lesson.video_duration %></span>
				</td>
			</tr>
			
		<% end %> 
	</table>
<% end %>


	</div>
</div>









