<%= render 'lecture_band' %>




<div class="row" id="lesson-container">


	<div class="col-md-12 margin-s">
	
	<div class="col-md-8">
		<div id="lesson-description-container">
			<%= @lecture.video.html_safe %>
			<p class="margin-s"><%= @lecture.description %></p>
		</div>

		<h1 class="margin-s">List of lessons</h1>

		<div class="panel panel-default margin-s">

		 <% @lessons.each do |lesson| %>

				<div class="lesson-panel-body">
					<span class="medium"><%= lesson.etape %>.</span>
					<span class="medium"><%= lesson.title %></span>
				 	<%= link_to [lesson.lecture, lesson], class: "float-right medium" do %>
					<i class="fa fa-play-circle-o"></i>
					<% end %>
				</div>

		<% end %>

		</div> <!-- .panel-default -->

	</div> <!-- .col-md-8 -->

	<div class="col-md-4">
		<div class="panel panel-default pull-right">
			<div class="panel-heading bg-white">
				<h4>Instructor</h4>
			</div>
			<div class="panel-body width300 margin-top-xs">
				 <%= image_tag @lecture.teacher.picture.url(:medium), height: "150", width: "150", class: "picture" %>
				<span class="margin-s-l"><%= @lecture.teacher.name %></span> 
				<p class="margin-top-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad iusto nulla saepe aspernatur blanditiis totam distinctio. Nostrum vero est vel perferendis excepturi assumenda consequuntur animi ducimus saepe sapiente, velit eaque!</p>
			</div>
		</div> 
	</div>

	</div> <!-- .col-md-12 -->
</div> <!-- #lesson-container -->









