

<div class="row bg-blackhaze">
	<div class="container mb-60 width960">
			<h1><%= @lecture.title %></h1>
			<p><%= @lecture.video.html_safe %></p>


<% if current_user.enrollments %>


<% end %>

<% @lecture.chapters.each do |chapter| %>
	<table>
		<tr>
			<th><h2><%= chapter.title %></h2></th>
		</tr>
		<% chapter.lessons.each do |lesson| %>
			<tr>
				<td><%= lesson.title %>	<%= link_to "Start lesson",  [@lecture, lesson] %> </td>
			</tr>
		<% end %> 
	</table>
<% end %>


	</div>
</div>









