<div class="row bg-grey">
<div class="container" id="signup">  
    <h1>Register</h1>
    <div id="signup-form">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      
       <%= f.input :first_name %>
       <%= f.input :last_name %>
       <%= f.input :email %>
       <%= f.input :password %>
       <%= f.input :password_confirmation %>
       <%= f.button :submit, 'Register', class: "btn-primary-big" %>
    <% end %>
    
    <%= render "devise/shared/links" %>

    </div>  <!-- end .panel-lock -->
</div> <!-- end #content -->

</div>