
<div class="container-fluid"> 
  <div class="panel-devise">

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Workshopr.</h3>
  </div>
  <div class="panel-body">
    <p>Get Started!</p>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
       <%= f.input :email, label: false, placeholder: 'EMAIL' %>
       <%= f.input :password, label: false, placeholder: 'PASSWORD' %>

       <%= f.input :password_confirmation, label: false, placeholder: 'PASSWORD CONFIRMATION' %>

        <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %>

       <%= f.button :submit, 'Register', class: "btn-bezier btn" %>
    <% end %>
    <p class="center">By clicking 'Register' I agree Workshopr's Terms of Service </p>
  </div>
</div> 
  
      <%= render "devise/shared/links" %>

   </div>
    
    


    </div>  <!-- end .panel-lock -->
</div> <!-- end #content -->

