<div class="row section-customers center" id="">
	<%= image_tag('https://s3-us-west-2.amazonaws.com/workshopr-picture/assets/pictures/bandy.png', height: 40) %>
	<%= image_tag('https://s3-us-west-2.amazonaws.com/workshopr-picture/assets/pictures/wisembly.png', height: 40) %>
	<%= image_tag('https://s3-us-west-2.amazonaws.com/workshopr-picture/assets/pictures/ted.png', height: 40) %>
	<%= image_tag('https://s3-us-west-2.amazonaws.com/workshopr-picture/assets/pictures/incredibly.png', height: 40) %>
	<%= image_tag('https://s3-us-west-2.amazonaws.com/workshopr-picture/assets/pictures/Boush.png', height: 40) %>
</div>

