<div class="row padding-top-xl">
<div class="section-workshop-benefits-container">


<div class="section-workshop-benefits-curriculum section-workshop-benefits col-md-12">
  <div class="section-workshop-benefits-image col-md-6 pull-right">
    <%= image_tag('home-pic-3.jpeg') %>
  </div>
  <div class="section-workshop-benefits-content col-md-6">
    <h2 class="section-workshop-benefits-content-heading">Why publish a challenge</h2>
    <p class="section-workshop-benefits-content-description">Have you ever got stuck launching a project because you lacked of resources or expertise? Guess what? Meanwhile, many students crave real-world to develop their professional experience. We offer the possibility to turn your projects into reality. 
    </p>
    <%= link_to new_user_registration_path do %>
      Start my challenge <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
      <% end %>
    <blockquote class="section-workshop-benefits-testimony">
        <%= image_tag('testimony-pic-3.jpg') %>
        "We were struggling promoting our brand before meeting Workshopr's students!"
      </blockquote>
      <cite>- Steph, Founder of Incredibly</cite>
  </div>
</div>


<div class="section-workshop-benefits-practice section-workshop-benefits col-md-12">
  <div class="section-workshop-benefits-image col-md-6">
    <%= image_tag('home-pic-4.jpeg') %>
  </div>
  <div class="section-workshop-benefits-content col-md-6">
    <h2 class="section-workshop-benefits-content-heading">Who solves challenges</h2>
    <p class="section-workshop-benefits-content-description">
      Our community is mainly composed by students from top-notch business schools and universities. it also includes highly motivated people willing to expand their knowledge. In both case, they want to get professional experience to land their dream job. 
    </p>
      <%= link_to new_user_registration_path do %>
      Start my challenge <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
      <% end %>
      <blockquote class="section-workshop-benefits-testimony">
        <%= image_tag('testimony-pic-4.jpg') %>
        "the social media students advised us on launching our social media accounts!"
      </blockquote>
      <cite>- Ross, Co-founder of Boush.io</cite>
  </div>
</div>




</div>
</div>


