<div class="row section-customers center" id="">
	<div class="col-md-2 col-xs-12">
	<%= image_tag('https://s3-us-west-2.amazonaws.com/workshopr-picture/assets/pictures/bandy.png', height: 30, class: 'bandy') %>
	</div>
	<div class="col-md-2 col-xs-12">
	<%= image_tag('https://s3-us-west-2.amazonaws.com/workshopr-picture/assets/pictures/wisembly.png', height: 30, class: 'wisembly') %>
	</div>
	<div class="col-md-2 col-xs-12">
	<%= image_tag('https://s3-us-west-2.amazonaws.com/workshopr-picture/assets/pictures/incredibly.png', height: 55, class: 'incredibly') %>
	</div>
	<div class="col-md-2 col-xs-12">
	<%= image_tag('https://s3-us-west-2.amazonaws.com/workshopr-picture/assets/pictures/Boush.png', height: 25, class: 'boush') %>
	</div>
	<div class="col-md-2 col-xs-12">
	<%= image_tag('https://s3-us-west-2.amazonaws.com/workshopr-picture/assets/pictures/ted.png', height: 32, class: 'tedx') %>
	</div>
	<div class="col-md-2 col-xs-12">
	<%= image_tag('logofinal.png', height: 60, class: 'frogvalley') %>
	</div>
</div>

