
<% unless @lecture.nil? %>
<div class="row section-course padding-top-xl">
	<div class="center mb-150">
	<h1 class="mb-40 white">Start your first Workshop now</h1> 	
	         <div class="home-course-box dashboard-student-box">
				<%= image_tag(@lecture.try(:picture).try(:url)) %>
		        <h3 class="center"><%= @lecture.try(:title) %></h3> 
		        <p class="center by-teacher">by <%= @lecture.try(:teacher).try(:name) %></p>
				<% if @lecture.published? %>
					<%= link_to "Enroll Now", lecture_description_path(@lecture), class: "btn btn-medium btn-bezier mb-40" %>
				<% else %>
			        <%= link_to "Join The Waiting List", "#{@lecture.try(:waiting_list)}", class: "btn btn-medium btn-bezier mb-40" %> 

			    <% end %>
		</div>
		<div class="col-md-6">
			<h2 class="white">Industry tools</h2>
			<p class="white">Each Workshop teaches you how to use industry standard tools and techniques</p>
		</div>
		<div class="col-md-6 margin-s">
			<%= image_tag('https://s3-us-west-2.amazonaws.com/workshopr-picture/assets/pictures/slack_monochrome_white.png', height: 50) %>
			<p class="white">A Workshop gives you access to a Slack channel where teachers and students provide you support and advice</p>
		</div>
		
	</div>
</div>
<% end %>