<script type="text/javascript">
    mixpanel.track("Visit Homepage")
</script>


<div class="row">
  <div id="main-homepage">
    <div class="container-main-homepage container center vertical">
      <h1 class="white large small-caps"> What if you could learn things that matter?</h1>
      <%= link_to "View Workshops", lectures_path, class: "btn btn-orange" %>
    </div>
  </div>
</div> <!-- .row #main-homepage -->


<%= render 'section1' %>

<%= render 'section2' %>

<%= render 'section3' %>

<%= render 'section4' %>







