 <% content_for :navbar do %>
      <%= render 'header_home' %>
 <% end %>

<script type="text/javascript">
    mixpanel.track("Visit Homepage")
</script>




<div class="row">
  <div id="main-homepage">
    <div class="container-main-homepage container center vertical">
      <h1 class="white">Learn. Practice. You're ready</h1>
      <h2 class="white">The education that does not only teach you...</h2>
      <%= link_to "Start Learning", lectures_path, class: "btn btn-bezier home" %>
       <%= link_to "Publish a Project", lectures_path, class: "btn btn-bezier-inverse home" %>
       <%= hidden_field_tag :role, :company %>
    </div>
  </div>
</div> <!-- .row #main-homepage -->


<%= render 'section0' %>

<%= render 'section1' %>

<%= render 'section3' %>

<%= render 'section2' %>

<!-- <%= render 'section4' %> -->







