<% set_meta_tags description: "At Workshopr, you can learn new skills and then gain professional experience by solving challenges. Join us today and land your dream job" %>


 <% content_for :navbar do %>
      <%= render 'header_home' %>
 <% end %>

<script type="text/javascript">
    mixpanel.track("Visit Homepage Student")
</script>


<div id="homepage">

<%= render 'section_image' %>

<%= render 'section_customers' %>

<%= render 'section_mission' %>

<%= render 'section_course' %>

<%= render 'section_benefits' %>

<%= render 'layouts/newsletter_blog' %>

</div>


       

