w<div class="row">
  <div id="main-homepage">
  </div>
</div> <!-- .row #main-homepage -->

<div class="row">
  <div class="container-fluid" id="container-method">
    <div class="col-md-12 margin-top-xs">
        <div class="col-md-4">
          <i class="fa fa-users"></i>
          <h2>Discover a Topic</h2>
          <p>Watch the introduction to one topic.</p>
        </div>
        <div class="col-md-4">
          <i class="fa fa-video-camera"></i>
          <h2>Enroll to a workshop</h2>
          <p>Enroll to one of our in-depth workshops. Learn at your own pace. Each videos last less than 10 minutes.</p>
        </div>
        <div class="col-md-4">
          <i class="fa fa-child"></i>
          <h2>Get Hired!</h2>
          <p>Increase your emplyability. Completing one in depth workshop, it is acquiring one new competence. </p>
          
        </div>
    </div>
  </div>

 
</div> <!-- .row #method  -->


<div class="row" id="lectures-list">
  <h1>What you can learn</h1>
  <div class="container">
    <div class="col-md-12 margin-s">
        <% @lectures.each do |lecture| %>
        <div class="col-md-4 lecture">
            <div class="lecture-box">
              <%= image_tag lecture.picture.url(:medium) %>
              <p><%= truncate(lecture.description, length: 80) %> </p>
              <%= link_to "Enroll Now", lecture, class: "btn btn-blue" %>
            </div> <!-- .lecture-box -->
          </div> <!-- .col-md-4 -->
        <% end %>
    </div> <!-- .col-md-12 -->
  </div> <!-- .container -->
</div> <!-- .row -->


<div class="row">
  <div class="container-fluid" id="container-testimonial">
    <h1>What people say about us</h1>

       <div class="col-md-12">
        <div class="col-md-8 pull-right">
        <p class="medium">I was able <b>to replicate what I learnt</b> after only few hours!</p> 
        <span>- Mohammed</span>
        </div>
        <div class="col-md-4 pull-left">
         <%= image_tag("mo.jpg", height: "250", width: "250") %>
        </div>
      </div>

      <div class="col-md-12">
        <div class="col-md-9 pull-right">
          <div class="col-md-7">
              <p class="medium">Lorem <b>ipsum dolor sit amet,</b> consectetur adipisicing elit.</p> 
              <span>- Mohammed</span>
          </div>
        <div class="col-md-5 float">
         <%= image_tag("mo.jpg", height: "250", width: "250") %>
        </div>
       
        </div>
      </div>

      <div class="col-md-12">
        <div class="col-md-8 pull-right">
        <p class="medium">Learning about web development was <b>really fun!</b></p> 
        <span>- Gowshik</span>
        </div>
        <div class="col-md-4">
         <%= image_tag("raj.jpg", height: "250", width: "250") %>
        </div>
      </div>


  </div> <!-- #container-testimonial -->
</div> <!-- .row -->

<%= render 'layouts/footer' %>





