 <% content_for :navbar do %>
      <%= render 'header_home' %>
 <% end %>

<script type="text/javascript">
    mixpanel.track("Visit Home Company Page")
</script>


<%= render 'section_image_company' %>

<%= render 'section_customers' %>

<%= render 'section_benefits_company' %>

<div id="faq" class="row padding-top-xl">
	<div class="faq">
	<h1 class="center mb-60 white">Frequently Asked Questions</h1>
		<div class="col-md-12">
			<div class="col-md-5 box-faq">
				<h2>What is a Challenge?</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus vitae laudantium consequatur atque ullam laborum, beatae incidunt minima facilis, dolorem nemo architecto sapiente officia nisi natus quo blanditiis libero. Unde.</p>
			</div>
			<div class="col-md-6 box-faq">
				<h2>What Challenge can I post?</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam sint odio facere recusandae veniam dolor reprehenderit obcaecati numquam et? At unde nemo natus veniam earum sapiente cum reiciendis, minima recusandae.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores similique ut, ipsam quos harum earum voluptatum laborum, suscipit dignissimos iusto odio error, voluptas facilis repellendus aliquid obcaecati nesciunt quae? Dolorem.</p>
			</div>
			<div class="col-md-5 box-faq last-box-faq">
				<h2>How long does it take to post a challenge?</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia eum tenetur aliquid assumenda quasi. Quas voluptate molestias porro magni esse, inventore atque, cumque quod labore tenetur pariatur expedita? Dignissimos, consequatur.</p>
			</div>
			<div class="col-md-5 box-faq margin-s">
				<h2>How much does it cost?</h2>
				<p>Nothing. It's completely free</p>
			</div>
		</div>
	</div>
</div>


<%= render 'section_registration_company' %>


