<div class="container-contact width550">
  <h2>You want to get in touch with us?</h2>
  <p>... Then drop us a message :) </p>

<div id="contact-form">
  <%= simple_form_for @contact do |f| %>
    <%= f.input :name, :required => true %>
    <%= f.input :email, :required => true %>
    <%= f.input :message, :as => :text, :required => true %>
      <div class= "hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>
    <div>
      </br>
      <%= f.button :submit, 'Send message', :class=> "btn-primary-big" %>
    </div>
  <% end %>
</div>

</div>