<script type="text/javascript">
    mixpanel.track("Visit Contact Us")
</script>

 <div class="index-header center contact">
       <h1>You want to get in touch with us?</h1>
       <h2>... Then drop us a message :)</h2>
     </div>

<div class="container-contact width550">


<div id="contact-form">
  <%= simple_form_for @contact do |f| %>
    <%= f.input :name, :required => true %>
    <%= f.input :email, :required => true %>
    <%= f.input :message, :as => :text, :required => true %>
      <div class= "hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>
    <div>
      </br>
      <%= f.button :submit, 'Send message', :class=> "btn-form" %>
    </div>
  <% end %>
</div>

</div>

