<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<%= f.input :title %>
    <%= f.select(:lecture_id, options_for_select(@lecture_options)) %>
    <%= f.input :company_name %>
    <%= f.input :phone_number %>
    <label for="body">Description</label>
     <%= f.text_area :body, :class => 'ckeditor' %>
  </div>	


    <%= f.button :submit, class: "btn btn-bezier" %>

<% end %>

