<% content_for :navbar do %>
    <%= render 'layouts/sidebar' %>
<% end %>

 <script type="text/javascript">
    mixpanel.track("Visit Show Challenge")
</script>

<div class="row" id="dashboard-header" data-no-turbolink>
	<h1 class="dashboard-title">Challenge Description</h1>
	<% if policy(@project).update? %>
		<%= link_to edit_project_path(@project), class: "btn btn-bezier" do %> 
			<i class="fa fa-pencil-square-o"></i> Edit
		<% end %> 
	<% end %>
	<% if policy(@project).is_student? %>
		<%= simple_form_for([@project, @project.offers.build]) do |f| %>
  <%= f.error_notification %>
  	  <%= f.hidden_field :user_id, { value: "@user.id" } %>
  	  <%= f.hidden_field :project_id, { value: "@project.id" } %>
	<%= f.button :submit, "Accept Challenge", class: "btn btn-bezier btn-small" %>
  <% end %>
	<% end %>

	<% if policy(@project).is_owner? && !@project.offers.empty? %>
				
		<% if @project.offers.exists? && current_user.company? %>

		<%= link_to 'Republish', project_offer_path(@project, @offer), class: "btn btn-bezier republish", method: :delete, data: { confirm: 'Are you sure you want to republish this project?'} %> 
		 <%= link_to "Mark Complete", complete_path, class: " btn btn-bezier complete", data: { confirm: 'Are you sure you want to mark this project as complete, you cannot go back?'} %>

		<% end %>

	



	<% end %> 
</div>


<div class="row row-show-project">




<div class="container-fluid container-project">

	<div class="col-md-12 mb-20">
		<div class="col-md-2"><%= image_tag(@project.logo.url(:thumb)) %></div>
		<div class="col-md-10 show-project-titles">
			<h2><%= @project.title %></h2>
			<h3>by <%= @project.company_name %></h3>
			<button class="btn btn-medium btn-bezier button-show-project">Ends in <%= (@project.deadline.to_i - Time.now.to_i) / 86_400 %> Days</button>
			
			
		</div>


	</div>

	<div class="container-project-left col-md-8">
		<h5>Goals</h5>
		<div class="project-info-description">
			<%= @project.goal %> 
		</div>


		<h5>Description</h5>
		<div class="project-info-description">
			<%= @project.body.html_safe %> 
		</div>
	</div>


	<div class="container-project-right col-md-4">	

		<% if current_user.offers_made(project_id: @project.id) %>

		<h5>Contacts</h5>
		
		
		<div class="project-info-box">
			<p><i class="fa fa-user"></i>  <%= @project.main_contact %> <br>  <%= @project.main_contact_email %></p>
		</div>
		<% end %>

		<h5>About <%= @project.company_name %></h5>
		
		<div class="project-info-box">
			<p><i class="fa fa-map-marker"></i>  <%= @project.location %></p>
		</div>

		<div class="project-info-box">
			<p><i class="fa fa-industry"></i> <%= @project.industry %></p>
		</div>

		<div class="project-info-box">
			<p><i class="fa fa-info-circle"></i> <br> <%= @project.company_description %></p>
		</div>


	</div>

  </div>
</div>
