<% content_for :navbar do %>
    <%= render 'layouts/sidebar' %>
<% end %>

<div class="row" id="dashboard-header" data-no-turbolink>
	<h1 class="dashboard-title"><%= @project.title %></h1>
	<% if policy(@project).update? %>
		<%= link_to edit_project_path(@project), class: "btn btn-bezier-round" do %> 
			<i class="fa fa-pencil-square-o"></i> Edit
		<% end %> 
	<% end %>
	<% if policy(@project).show? %>
		<%= simple_form_for([@project, @project.offers.build]) do |f| %>
  <%= f.error_notification %>
  	  <%= f.hidden_field :user_id, { value: "@user.id" } %>
  	  <%= f.hidden_field :project_id, { value: "@project.id" } %>
	<%= f.button :submit, "Accept Project", class: "btn btn-bezier-round" %>
  <% end %>
	<% end %>
</div>




<div class="container-project col-md-12">
	<div class="container-project-left col-md-8">
		
	<h2>Description</h2>
		<div class="project-info-description">
			<%= @project.body.html_safe %> 
		</div>
		

		<% if @project.offers.exists? && current_user.student? %>
		<% current_user.offers_made.where(project_id: @project.id).each do |offer| %>
		<%= link_to 'Delete', project_offer_path(@project, @offer), method: :delete %> 
		<% end %>
		<% end %>

		
		<% if @project.offers.exists? && current_user.company? %>

		<%= link_to 'Delete', project_offer_path(@project, @offer), method: :delete %> 

		<% end %>



	</div>
	<div class="container-project-right col-md-4">

		
		<h2>Project Info</h2>
		<div class="project-info-box">
			<h3>Date of creation</h3>
			<p><%= @project.created_at %></p>
		</div>
		<div class="project-info-box">
			<h3>Date of creation</h3>
			<p><%= @project.created_at %></p>
		</div>
		<h2>About the company</h2>
		<div class="project-info-box">
			<h3>Date of creation</h3>
			<p><%= @project.created_at %></p>
		</div>
		<div class="project-info-box">
			<h3>Date of creation</h3>
			<p><%= @project.created_at %></p>
		</div>

		
	</div>
</div>


