<span class="payment-logo weight800 uppercase bezier">Workshopr</span>

<div class="row row-payment ">
  <div class="container-fluid">
    <h2 class="center weight600 mb-60">Start Learning: <%= @lecture.title %><br> </h2>

    <div class="col-md-12">

      <div class="col-md-6">
        <h3 class="weight600 center">What you'll get for $99</h3>
        <ul class="margin-s benefits-list">
          <li class="mb-20">Get access to the course for one year</li>
          <li>Get Access to one challenge related to the course (if available)</li>
        </ul>
        <p class="ps-payment margin-s">P.S: We charge you only for the course</p>
      </div>

      <div class="col-md-5">
        <div class="form-payment">
          <h3 class="weight600 center mb-40">One-off Payment</h3>


          <%= form_for @enrollment do |f| %>
  <% if flash[:error].present? %>
    <div id="error_explanation">
      <p><%= flash[:error] %></p>
    </div>
  <% end %>
  <p>
    <label class="amount">
      <span>You'll pay: $99.00</span>
    </label>
  </p>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :lecture_id, value: @lecture.id %>
  <%= f.hidden_field :amount, value: @amount %>
  <p>
    <%= label_tag(:couponCode, 'Coupon:') %>
    <%= text_field_tag(:couponCode) %>
  </p>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>"
          data-description="Your Purchase"
          data-locale="auto"></script>
<% end %>
          

        
        </div>
      </div>

    </div>
  </div>
</div>