 <% content_for :navbar do %>
      <%= render 'pages/header_home_2' %>
 <% end %>


<%= @lecture.title %>
<%= current_user.email %>
<%= @lecture.id %>

<%= form_tag enrollments_path, id: "payment-form" do %>
  <span class="payment-errors"></span>
  <%= hidden_field_tag :lecture_id, value: @lecture.id %>
  <%= hidden_field_tag :user_id, value: current_user.id %>
  <div class="form-row">
    <label>
      <span>Card Number</span>
      <input value="4242424242424242" type="text" size="20" data-stripe="number"/>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>CVC</span>
      <input value="123" type="text" size="4" data-stripe="cvc"/>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>Expiration (MM/YYYY)</span>
      <input value="09" type="text" size="2" data-stripe="exp-month"/>
    </label>
    <span> / </span>
    <input value="20202" type="text" size="4" data-stripe="exp-year"/>
  </div>

  <button type="submit">Submit Payment</button>

<% end %>