<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @lesson.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lesson.description %>
</p>

<%= link_to 'Edit', edit_lecture_lesson_path(@lesson.lecture, @lesson) %>
<%= link_to 'Back', @lecture %>
