<div class="row">
<div id="main-homepage">
  <h1><%= @lesson.title %></h1>
</div>
</div>

<div class="container-fluid">
<div class="row">
	<div class="col-md-offset-2">
<%= @lesson.vid.html_safe %>
</div>
</div>
</div>


  <strong>Description:</strong>
  <%=  @lesson.description.html_safe %>



<%= link_to 'Edit', edit_lecture_lesson_path(@lesson.lecture, @lesson) %>
<%= link_to 'Back', @lecture %>
