<% content_for :navbar do %>
  <%= render 'layouts/sidebar' %>
<% end %>

<div class="row" id="dashboard-header" data-no-turbolink>
	<h1 class="dashboard-title"><%= @lesson.title %></h1>

    <%= link_to 'Mark as complete', user_lessons_path(@user_lesson, user_lesson: {user_id: current_user.id, lesson_id: @lesson.id}), :method => :post, class: 'btn btn-bezier-round pull-right' %>
</div>

<div class="row" id="show-lesson">
    <div class="margin-s">
        <%= @lesson.vid.html_safe %>
    </div>

    <div class="margin-s show-lesson-description mb-60"><%=  @lesson.description.html_safe %>

    </div>
    
</div>





 




