

<div class="row">
<div id="main-homepage">
  <h1><%= @lesson.title %></h1>
  <p></p>
</div>
</div>


<div class="row">
	<div class="col-md-offset-2">
		<%= @lesson.vid.html_safe %>
	</div>
</div>



  <p><%=  @lesson.description.html_safe %></p>
 
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'workshopr';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>


<%= link_to 'Edit', edit_lecture_lesson_path(@lesson.lecture, @lesson) %>
<%= link_to 'Back', @lecture %>
