<div class="row">
<div id="main-homepage">
  <h1><%= @lesson.title %></h1>
</div>
</div>


<div class="row">
	<div class="col-md-offset-2">
		<%= @lesson.vid.html_safe %>
	</div>
</div>



  <p><%=  @lesson.description.html_safe %></p>
 



<%= link_to 'Edit', edit_lecture_lesson_path(@lesson.lecture, @lesson) %>
<%= link_to 'Back', @lecture %>
