<div id="content">
  <div class="panel panel-default">
    <h2>Sign in</h2>
    <div class="panel-lock">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>
     
        <div class="actions">
          <%= button_to do %>
          SIGN IN <i class="fa fa-unlock-alt"></i> 
          <% end %>
          <% end %>
        </div>

        <div class="devise-shared">
          <%= render "devise/shared/links" %>
        </div>
    </div>  <!-- end .panel-lock -->
  </div> <!-- end .panel -->
</div> <!-- end #content -->