




<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <%= wicked_pdf_stylesheet_link_tag "certificates", media: 'print' %>
  </head>
  <body>
    
<%= image_tag 'https://s3-us-west-2.amazonaws.com/workshopr-picture/assets/pictures/logo-certificate.jpg', height: 150 %>

<h2><%= current_user.name %></h2>

<p>Has successfully completed the course</p>

<h2><%= @lecture.title %></h2>

<p>This <%= current_user.latest_completed_lesson.created_at.strftime("%b %d, %Y") %></p>


  </body>
</html>