<% set_meta_tags site: "Workshopr", title: "Blog" %>

<% set_meta_tags description: "Learn with the Workshopr team. We are here to educate about startup related topics such as social media, coding, productivity tools, etc ..." %>

 <% content_for :navbar do %>
      <%= render 'layouts/navbar_blog' %>
 <% end %>

<script type="text/javascript">
    mixpanel.track("Visit Index Blog")
</script>


<div class="row row-search">
	<div class="container-fluid vertical center">
		<h1 class="tk-jaf-bernina-sans uppercase white">Blog</h1>
		<%= form_tag(blog_path, class: "search-form form-horizontal", :method => "get") do %>
		<div class="form-group">
		<label for="blog-search" class="tk-jaf-bernina-sans col-sm-6 col-xs-12 control-label white">I really want to read</label>
	      <%= select_tag :blog_category, options_for_select(@blog_category_options), prompt: "everything", onchange: "this.form.submit();", id: "blog-search", class: "form-control search-input" %>  
	      </div>
	  <% end %>

	 
	</div>
</div>


<div class="row row-blog blog mb-60">
	<div class="container-fluid">
	<% @posts.each do |post| %>
 		<div data-no-turbolink class="col-xs-12 col-sm-6 col-md-4 mb-60">
 			<%= link_to post do %>
				<%= image_tag post.picture.url(:medium) %>
			<% end %>	
			<%= link_to blog_path(blog_category: post.blog_category.id) do %>	
	 			<h3 class="tk-jaf-bernina-sans uppercase bezier"><%= post.blog_category.title %></h3>
 			<% end %>
	 		<%= link_to post do %>	
				<h2 class="tk-jaf-bernina-sans heading-blog"><%= post.title %></h2>
			<% end %>	
				<p class="tk-freight-text-pro text-blog weight400"><%= truncate(post.summary, length: 131) %></p>
				<% if current_user.try(:admin?) %>
				<p class="bezier weight400">Published: <%= post.published %> </p>
				<% end %>
				
		</div>
 	<% end %>
 	<div class="center clear mb-20 weight800"><%= will_paginate @posts, :page_links => false %></div>
   </div>
</div>

<%= render 'layouts/newsletter_blog' %>

