	<!-- SEO -->
<% set_meta_tags site: "Workshopr", title: "#{@post.seo.try(:title)}" %> 
<% set_meta_tags description: "#{@post.seo.try(:description)}" %>
<% set_meta_tags author: "#{@post.user.google_plus}" %>


<% set_meta_tags og: {	
  title:    "#{@post.title}",
  type:     "text",
  url:      "www.workshopr.me/blog/#{@post.permalink}",
  image:    "#{raw @post.picture.url}",
} %>

<% set_meta_tags twitter: {
  card: "#{@post.summary}",
  site: "@workshopr"
} %>
<!-- end SEO -->




 <% content_for :navbar do %>
      <%= render 'layouts/navbar_blog' %>
 <% end %>

 <div class="row row-post">
	<div class="container-fluid">
		<div class="center">
 		<h4 class="tk-jaf-bernina-sans bezier uppercase"><%= @post.blog_category.title %></h4>
 		<h1 class="tk-jaf-bernina-sans"><%= @post.title %></h1>
 		<p>by <%= @post.user.email %> published on <%= @post.created_at %> </p>
 		</div>
 	</div>
 </div>

 <div class="row row-post-content">
 	<div class="container-content container-fluid center-content">
 		<%= @post.content.html_safe %>
 		<p class="margin-s">Tags: <%= raw @post.tag_list.map { |t| link_to t, tag_path(t) }.join(' ') %></p>
 	</div>
 </div>


<div class="row row-author margin-s mb-60">
	<div class="container-content">
		<div class="media">
		  <div class="media-left">
		  	<%= image_tag("#{@post.user.picture}", class: "media-object") %>
		  </div>
		  <div class="media-body">
		  	<h4 class="weight400 media-heading bezier">Author</h3>
		    <h5 class="media-heading weight800"><%= @post.user.full_name %></h4>
		    <p><%= @post.user.biography.html_safe %></p>
		    <p>Follow me:
		     <% if @post.user.attribute_present?(:twitter_url) %>
		    	<%= link_to "https://#{@post.user.twitter_url}", target: "_blank", class: "author-social-icons"  do %>
		    	 <i class="fa fa-twitter social-icon"></i>
		    	<% end %>
		    <% end %>
		     <% if @post.user.attribute_present?(:linkedin_url) %>
		    	<%= link_to "https://#{@post.user.linkedin_url}", target: "_blank", class: "author-social-icons"  do %>
		    	<i class="fa fa-linkedin social-icon"></i>
		    	<% end %>
		    <% end %>  
		       <% if @post.user.attribute_present?(:google_plus) %>
		    	<%= link_to "https://#{@post.user.google_plus}", target: "_blank", class: "author-social-icons"  do %>
		    	<i class="fa fa-google-plus social-icon"></i>
		    	<% end %>
		    <% end %> 


		     </p>
		  </div>
		</div>
	</div>
</div>


<div class="row row-disqus container-content">
	<div id="disqus_thread"></div>
		<script>
		/**
		* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
		* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
		*/
		/*
		var disqus_config = function () {
		this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
		this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
		};
		*/
		(function() { // DON'T EDIT BELOW THIS LINE
		var d = document, s = d.createElement('script');

		s.src = '//workshoprblog.disqus.com/embed.js';

		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
		})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>

<% if @recommended_posts %>
<div class="row row-blog blog mb-60">
	<div class="container-fluid">

	<h2 class="bezier center mb-40 uppercase">You might also like...</h2>

	<% @recommended_posts.each do |post| %>
 		<div data-no-turbolink class="col-xs-12 col-sm-6 col-md-4 mb-60 blog-featured">	
 			<%= link_to post do %>
				<%= image_tag post.picture.url(:medium) %>
			<% end %>	
			<%= link_to blog_path(blog_category: post.blog_category.id) do %>	
	 			<h3 class="tk-jaf-bernina-sans uppercase bezier"><%= post.blog_category.title %></h3>
 			<% end %>
	 		<%= link_to post, data: { turbolinks: false } do %>	
				<h2 class="tk-jaf-bernina-sans heading-blog"><%= post.title %></h2>
			<% end %>	
				<p class="tk-freight-text-pro text-blog weight400"><%= truncate(post.summary, length: 131) %></p>
				<span class="bezier">By <%= post.user.full_name %></span><i class="bezier fa fa-comments blog-feature-comment-counts" aria-hidden="true"></i> <%= link_to 'comment', post_path(post, anchor: 'disqus_thread') %>
				<% if current_user.try(:admin?) %>
				<p class="bezier weight400">Published: <%= post.published %> </p>
				<% end %>
				
		</div>
 	<% end %>

   </div>
</div>
<% end %>