<div class="row footer mb-60">
  <ul>
    <li class="col-md-3">     
      <ul class="margin-s">
        <li class="bezier weight800">WORKSHOPR</li>
        <li><%= link_to 'Who we are', about_path %></li>
        <li><%= link_to 'Blog', blog_path %></li>
        <li><%= link_to 'Help Center', 'https://workshoprsupport.zendesk.com/hc/en-us', target: '_blank' %></li>
        <li><%= link_to 'Our Rules', help_center_rules_path %></li>
        <li><%= link_to 'Projects Guidelines', help_center_project_guidelines_path %></li>
        <li><%= link_to "Contact Us", contacts_path %></li>
        <li><%= link_to "Terms of Service" %></li>
        <li><%= link_to "Privacy Policy" %></li>
      </ul>
    </li>
    <li class="col-md-3 col-xs-12">
      <ul class="margin-s">
        <li class="bezier weight800">SOCIAL</li>
        <li><%= link_to 'Facebook', 'https://www.facebook.com/workshopr', target: '_blank' %></li>
        <li><%= link_to 'Twitter', 'https://twitter.com/workshopr', target: '_blank' %></li>
        <li><%= link_to 'Instagram', 'https://instagram.com/Workshopr', target: '_blank' %></li>
      </ul>
    </li>
    
      
       <%= render 'pages/newsletter' unless @disable_newsletter %>
      
    
  </ul>
</div>

