  <div class="col-md-2">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <%= link_to "Wr", root_path %>
                </li>
                <li class="center mb-20">
                <% if current_user.picture? %>
                  <%= image_tag("#{current_user.picture.url(:thumb)}", class: "profile-picture nav-profile-picture") %>
              <% else %>
              <i class="fa fa-user-secret"></i>
             <% end %>
                </li>
                <li>
                    <%= link_to profile_path(current_user) do %>
                        <% if current_user.student? %>
                            <i class="fa fa-graduation-cap"></i> <span>My Courses</span>
                        <% end %>
                        <% if current_user.company? %>
                            <i class="fa fa-sticky-note"></i> <span>My Challenges</span>
                        <% end %> 
                    <% end %>
                </li>
                <li>
                   <% if current_user.student? %>
                    <%= link_to user_projects_path do %>
                            <i class="fa fa-sticky-note"></i>   <span>My Challenges</span>
                            <% end %>
                        <% end %>
                </li>
                <li>
                     <% if current_user.student? %>
                        <%= link_to lectures_path do %>
                            <i class="fa fa-book"></i></i> <span>Course Library</span>
                        <% end %>
                    <% end %>
                  
                </li>
                <li>
                    <%= link_to edit_user_registration_path do %>
                    <i class="fa fa-cog"></i> <span>My Account</span>
                    <% end %>
                </li>
                
                <li>
                    <%= link_to destroy_user_session_path, method: :delete do %>
                     <i class="fa fa-sign-out"></i> <span>Sign Out</span>
                     <% end %>
                </li>
            </ul>
      </div>
</div>