<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<%= favicon_link_tag 'favicon2.ico' %>    
	<script src="//use.typekit.net/dbo8byh.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'https://js.stripe.com/v2/', "https://js.stripe.com/v2/", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-69541434-1', 'auto');
  ga('send', 'pageview');

</script>

<script src="//load.sumome.com/" data-sumo-site-id="9d22910998e696b47cfb05bf65d23c40a3931d9814b645544b0b2c74a15906ca" async="async"></script>



</head>



<body id="main" data-spy="scroll" data-target=".landing-navbar" data-offset="50">
<% if content_for?(:navbar) %>
    <%= yield(:navbar) %>  
<% end %>

<% if notice.present? %>
<div class="pages-message">
  <%= render 'layouts/messages'  %>
</div>
<% end %>

<div class="container-fluid">
<%= yield %>
<%= render 'layouts/footer' unless @disable_footer %>
</div>



</body>
</html>


