<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<%= favicon_link_tag 'favicon2.ico' %>    
  <%= display_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://use.typekit.net/vif1vvl.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script src="//load.sumome.com/" data-sumo-site-id="d2b85df999ee758739cdd9614bff1f2fd7d4d0cc6b9aa19253d8d2760def2970" async="async"></script>
  <%= csrf_meta_tags %>
  <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
mixpanel.init("90c27582e3a07a77868efb56a4d2dbc7");</script><!-- end Mixpanel -->

  
<script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-69541434-1', 'auto');
  ga('send', 'pageview');
</script>

<script src="//load.sumome.com/" data-sumo-site-id="9d22910998e696b47cfb05bf65d23c40a3931d9814b645544b0b2c74a15906ca" async="async"></script>



</head>

<script type="text/javascript">
    mixpanel.track_links(".footer a", "click footer link", {
        "referrer": document.referrer
    });
</script>

<body id="main">
<% if content_for?(:navbar) %>
    <%= yield(:navbar) %>
<% else %>
   <%= render 'layouts/header' %>
<% end %>

<%= render 'layouts/messages'  %>
<div class="container-fluid">


<%= yield %>

<%= render 'layouts/footer' unless @disable_footer %>
</div>

</body>
</html>
